<section class="inner my-32 lg:my-64">
  <article class="relative">
    {{ partial:partials/headings/h1 title="{{ 'Download-Bereich' | trans }}" class="text-2xl mb-20 lg:mb-32 text-scarlett" }}
    <form method="POST" action="{{ route:login }}" class="max-w-xs">
      {{ csrf_field }}
      <input type="hidden" name="redirect" value="{{ get:redirect }}">
      <div class="space-y-16">
        <div>
          <label class="block mb-6" for="email">E-Mail</label>
          <input 
            type="email" 
            name="email" 
            id="email" required autofocus
            class="!ring-0 border-b border-b-scarlett appearance-none bg-white py-6 px-4 w-full">
        </div>
        <div class="">
          <label class="block mb-6" for="password">Password</label>
          <input 
            type="password" 
            name="password" 
            id="password" required
            class="!ring-0 border-b border-b-scarlett appearance-none bg-white py-6 px-4 w-full">
        </div>
        <div class="!mt-24">
          <button 
            type="submit" 
            class="inline-block font-roboto-bold font-bold leading-none px-16 py-10 bg-scarlett min-w-120 text-white hover:bg-navy transition-all text-sm">
            Log in
          </button>
        </div>
      </div>
    </form>
  </article>
</section>