<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-100"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="flex flex-col justify-between pb-16 pt-16 lg:pb-40 lg:pt-32 w-full h-[calc(100dvh_-_72px)] lg:h-[calc(100dvh_-_115px)] fixed z-50 left-0 top-72 lg:top-115 overflow-y-auto">
  <nav>
    <ul>
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
    </ul>
  </nav>
</div>