{{ if type == 'editor' }}
  {{ partial:elements/editor }}
{{ /if }}

{{ if type == 'news' }}
  {{ partial:elements/news }}
{{ /if }}

{{ if type == 'header_visual' }}
  {{ partial:elements/visual }}
{{ /if }}

{{ if type == 'teaser_product' }}
  {{ partial:products/teaser }}
{{ /if }}

{{ if type == 'team_member' }}
  {{ partial:elements/team_member }}
{{ /if }}

{{ if type == 'about_item' }}
  {{ partial:elements/about_item }}
{{ /if }}

{{ if type == 'contact_items' }}
  {{ partial:elements/contact_items }}
{{ /if }}