<header class="bg-[url(../patterns/pattern-top.png)] bg-[length:auto_120px] sticky top-0 z-60 min-h-[120px] ">
  <section class="inner relative flex justify-between items-end md:grid md:grid-cols-12">
    <a 
      href="/"
      class="md:col-span-5 lg:col-span-6 mt-25 lg:mt-30 xl:mt-20">
      {{ partial:icons/logo class="block w-175 h-auto lg:w-220 xl:w-[250px]" }}
    </a>
    <div class="md:col-span-7 lg:col-span-6 mt-25 lg:mt-30">
      {{ partial:menu/main/wrapper }}
    </div>
  </section>
</header>