<section class="py-32 lg:py-48 first-of-type:pt-0 last-of-type:pb-0 {{ theme == 'dark' ? 'bg-navy text-white' : ''}}">
  <article class="flex items-start inner {{ theme == 'light' ? '' : '' }}">
    <div class="mr-16 lg:mr-32">
      {{ partial:icons/{{ icon }} class="block w-40 lg:w-84 h-auto" }}
    </div>
    <div class="max-w-2xl">
      {{ partial:partials/headings/h2 title="{{ title | nl2br }}" class="text-lg mb-8 lg:mb-12 {{ theme == 'dark' ? 'text-white' : 'text-navy'}}" }}
      {{ text }}
    </div>
  </article>
</section>

