<section class="inner mb-32 lg:mb-48">
  <article class="pt-16 lg:pt-20 border-t-[6px] lg:border-t-[10px] border-t-scarlett">
    <div class="sm:grid sm:grid-cols-12 sm:gap-x-16 lg:gap-x-24">
      <div class="sm:col-span-6 md:col-span-8 mb-24 sm:mb-0">
        {{ partial:partials/headings/h2 title="{{ title }}" class="text-scarlett text-lg mb-8 lg:mb-12" }}
        {{ if lead }}
          <div>
            <strong>{{ lead }}</strong>
          </div>
        {{ /if }}
        {{ if text }}
          <div>{{ text }}</div>
        {{ /if }}
      </div>
      {{ if image }}
        <div class="hidden sm:block sm:col-span-6 md:col-span-4">
          {{ partial:media/image 
            :image="image" 
            class="w-full h-auto object-cover"
            :sizes="['lg']"
            preset="focal-16-10" }}
        </div>
      {{ /if }}
    </div>
  </article>
</section>