<section class="inner mb-32 lg:mb-48 last-of-type:mb-0">
  <article class="relative">
    <div class="absolute {{ image_type == 'text_image' ? 'left-10 md:left-30' : 'right-10 md:right-30' }} bottom-15 md:bottom-30 text-navy">
      {{ partial:partials/headings/h2 title="{{ name }}" class="text-sm md:text-lg mb-0 text-scarlett" }}
      {{ position }}
      <span class="hidden md:block max-w-sm font-roboto-bold font-bold text-lg mt-20">
        &laquo;{{ quote }}&raquo;
      </span>
    </div>
  {{ partial:media/image 
    :image="image_landscape" 
    class="w-full h-auto object-cover aspect-[960/400]"
    :sizes="['lg']" }}
  </article>
</section>