@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

/* Global styles */
html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply flex-1;
}

main p {
}

main p:last-child {
}

main ul {
  @apply list-disc list-inside m-0;
}

main ul p {
  @apply mb-0 inline;
}

strong {
  @apply font-roboto-bold font-bold
}

address {
  @apply font-roboto-light font-light not-italic
}

footer a {
  @apply no-underline hover:underline underline-offset-2
}

.inner {
  @apply max-w-5xl mx-auto w-full px-15;
}

