@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

/* Global styles */
html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply flex-1;
}

main p {
  @apply mb-12 lg:mb-20
}

main p:last-child {
  @apply !mb-0
}

main ul {
  @apply list-disc list-inside m-0;
}

main ul p {
  @apply mb-0 inline;
}

strong {
  @apply font-roboto-bold font-bold
}

address {
  @apply font-roboto-light font-light not-italic
}

footer a {
  @apply no-underline hover:underline underline-offset-2
}

.inner {
  @apply max-w-5xl mx-auto w-full px-16 sm:px-24;
}

.highlight {
  @apply text-scarlett
}

/* Page classes */
body.product main h3 {
  @apply font-roboto-bold font-bold text-md text-navy mb-8 lg:mb-12
}

body.product main .product-text-media h3,
body.product main .product-detail h3 {
  @apply mb-0
}

body.product main ul {
  /* @apply md:columns-3 ml-0 */
}

body.product main li {
  @apply relative mb-4 marker:text-scarlett
}

body.contact address {
  @apply not-italic leading-[1.4]
}

body.contact address a {
  @apply no-underline hover:underline underline-offset-4
}

body.contact main h2 {
  @apply font-roboto-bold font-bold text-lg text-navy mb-8 lg:mb-16
}

body.contact main h3 {
  @apply font-roboto-bold font-bold text-navy
}

body.privacy main {
  @apply pt-16 lg:pt-32 lg:pb-32
}

body.privacy main .inner {
  @apply !mb-0
}

body.privacy main h2 {
  @apply font-roboto-bold font-bold text-lg text-navy mb-8 lg:mb-16
}

body.privacy main h3 {
  @apply font-roboto-bold font-bold text-navy
}

body.privacy main ul {
  @apply mb-8 lg:mb-16
}

/* Mapbox */
.marker {
  background-image: url('../icons/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 40px;
  width: 30px;
}