<nav class="mt-30 md:mt-0 text-sm {{ class }}">
  <ul class="flex items-center leading-none space-x-8 lg:space-x-10">
    {{ locales current_first="false" }}
      <li>
        <a 
          href="{{ permalink }}" 
          title="{{ locale:locale }}"
          class="{{ site:short_locale == locale:locale ? 'font-roboto-bold font-bold text-scarlett' : '' }}">
          {{ locale:locale | substr:0:1 }}
        </a>
      </li>
      {{ if !last }}
        <li class="-mt-2">|</li>
      {{ /if }}
    {{ /locales }}
  </ul>
</nav>